/.venv
/build
/choice.json
/k.py
/proud-guide.json
/tempCodeRunnerFile.py
/Student_Face
/one
/__pycache__
/.vscode
/known_faces.pkl
/output
/kk.json
/config.json
/FaceAttendanceSystem.spec
/dist
/Staff_Face
/transfer db.py
/p.py
/config_copy.json
/output.log
/Saved_Files
/face_data.pkl